body{
  background-image: linear-gradient(90deg, white, lightgreen, lightblue);
 
}
.mainContainer{
    /* border:solid; */
    width:100%;
    height:550px;
    margin-top:5%;
    display:flex;
    justify-content: space-around;
}
.connect4Box{
  border:solid;
  width:600px;
  height:550px;
  margin-left: 20%;
  background-color: blue;
  box-shadow: 0 0 10px; 
}
.rowOne,.rowTwo,.rowThree,.rowFour,.rowFive,.rowSix
{
    /* border:solid orange; */
    margin-top:4px;
    margin-bottom:5px;
    height:16%;
  display:flex;
  justify-content: space-evenly;
}

.play{
  width:100px;
  height:40px;
  margin-left:35%;
  margin-top:25px;
  border-radius: 22px;
  background-color:crimson;
  color:white;
  font-size: 20px;
}
.reset{
  width:100px;
  height:40px;
  margin-left:20px;
  margin-top:25px;
  border-radius: 22px;
  background-color:crimson;
  color:white;
  font-size: 20px;
}
.play:hover,.reset:hover{
  background-color: brown;
  color: white;
}
.txt2
{
  font-size: 50px;
  text-align: center;
  color:white;
  Margin-top:40%;
  animation: animate 1.5s linear infinite;
}
 
@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
  }
}
.game{
  font-size: 40px;
  margin-left:35%;
 color:rgb(255, 0, 0)
}
.players,.winners{
  border:double green;
  border-radius: 10px;
  margin-top: 10%;
  width:300px;
  height:150px;
  text-align: center;
}
.txt,.winner{
  color:blue;
}


@media(max-width:680px)
{
  .mainContainer{
    /* border:solid; */
    width:100%;
    height:620px;
    display: block;
  }
  .connect4Box{
    border:solid;
    width:470px;
    height:450px;
    margin:10px;
    background-color: blue;
    box-shadow: 0 0 10px; 
  }
  .details{
    display:flex;
    justify-content: center;
  }
  .players,.winners{
    border:double green;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 3%;
    width:200px;
    height:100px;
    font-size: 13px;
    text-align: center;
  }
  .txt,.winner{
    color:blue;
  }
}

